coverage==4.5.3
Django==1.11.4
django-model-utils==3.1.2
django-notifications-hq==1.5.0
django-password-reset==2.0
django-widget-tweaks==1.4.3
fuzzywuzzy==0.17.0
Jinja2==2.9.6
jsonfield==2.0.2
jsonschema==2.6.0
Markdown==3.1