{% extends 'base.html' %}

{% load static %}

{% block title %}Join application{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">功能区</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board_topics' topic.board.pk %}">{{ topic.board.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'topic_posts' topic.board.pk topic.pk %}">{{ topic.subject }}</a></li>
    <li class="breadcrumb-item active">加入</li>
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success mb-4" onclick="show_alert()">确认</button>
    </form>
{% endblock %}

{% block javascript %}
<script>
    function show_alert(){
        alert("您的申请已发送！请耐心等待答复。");
    }
</script>
{% endblock %}