{% extends 'base_accounts.html' %}

{% load gravatar %}

{% load static %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">功能区</a></li>
    <li class="breadcrumb-item active">登录</li>
{% endblock %}

{% block content %}
<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row">
                <!-- Login Content Start -->
                <div class="col-lg-10">

                    <div class="login-reg-form-wrap  pr-lg-50">
                        <h2>已经拥有账户?</h2>

                        <form method="post" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            {% include 'includes/form.html' %}

                            <div class="single-input-item">
                                <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                    <div class="remember-meta">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="rememberMe">
                                            <label class="custom-control-label" for="rememberMe">记住我</label>
                                        </div>
                                    </div>

                                    <a href="#" class="forget-pwd">忘记密码?</a>
                                </div>
                            </div>

                            <button type="submit" class="btn">登录</button>
                        </form>           
                    </div>
                </div>
                <!-- Login Content End -->

                
            </div>
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->


{% include 'includes/pagination.html' %}

{% endblock %}