{% extends 'base.html' %}
{% load static %}

{% block title %}My account{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{% if is_self == True %}我{% else %}他 / 她{% endif %}的账户</li>
{% endblock %}

{% block show_username %}
    {% if me.is_authenticated %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'my_account' %}" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ me.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                    <a class="dropdown-item" href="{% url 'my_account' %}">我的账户</a>

                    <a class="dropdown-item" href="{% url 'password_change' %}">修改密码</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout'%}">登出</a>
                </div>
            </li>
        </ul>
    {% else %}
        <form class="form-inline ml-auto">
            <li><a href="{% url 'login' %}">登录</a></li>
            <li><a href="{% url 'signup' %}">注册</a></li>
        </form>
    {% endif %}
{% endblock %}

{% block content %}
<div class="container mb-4">
    <div class="row">
	    <div class="col-lg-4 text-center">
            <div class="card m-t-40">
                <img class="card-img-top w-100per" src={% static "assets/img/usr.png"%} alt="头像">
                <div class="card-body">
                    <h4 class="card-title">{{ user.username }}</h4>
                    {% if is_self == False %}
                        <a href="{% url 'follow' user.pk %}" class="btn btn-primary" id="follow_button">{% if is_followed %}取消关注{% else %}关注{% endif %}</a>
                    {% else %}
                        <a href="{% url 'letter' user.pk %}"><i class="fa fa-envelope"></i> 站内信</a>
                    {% endif %}
                </div>
            </div>

            <div class="card m-t-20">
                <ul class="list-group">

                    <li class="list-group-item list-group-item-success">
                        <div class="row l-h-40">
                            <div class="col-6">
                                <form class="form-inline">
                                    <label>邮箱:</label>
                                    <label id="mail-info">{{ user.email }}</label>
                                </form>
                            </div>
                            {% if is_self %}
                            <div class="col-6">
{#                                <button type="button" class="btn btn-primary" id="mail-rev" data-toggle="modal" data-target="#mail-mod">修改</button>#}
                                <a href="#" style="width: 100px;" role="button" data-toggle="modal" data-target="#mail-mod"><i class="fa fa-pencil"></i> 修改</a>
                            </div>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-primary">
                        <div class="row l-h-40">
                            <div class="col-6">
                                <form class="form-inline">
                                    <label>用户名:</label>
                                    <label id="usr-info">{{ user.username }}</label>
                                </form>
                            </div>
                            <!--div class="col-4">
                                <button type="button" class="btn btn-primary disabled" id="usr-rev">修改</button>
                            </div-->
                        </div>
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        <div class="row l-h-40"><!--不设置line-height会导致字不在列表行的垂直中间位置-->
                            <div class="col-6"><!--通过行布局来让不同组件位于同一行-->
                                <form class="form-inline"><!--通过使用form的form-inline来让不同的组件位于同一行-->
                                    <label>密码:</label>
                                    <label id="pwd-info">********</label>
                                </form>
                            </div>
                            {% if is_self %}
                            <div class="col-6">
{#                                <button type="button" class="btn btn-primary" id="pwd-rev" data-toggle="modal" data-target="#pwd-mod">修改</button>#}
                                <a style="width: 100px;" href={% url 'password_change' %} role="button"><i class="fa fa-pencil"></i> 修改</a>
                            </div>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-8 text-center">
            <div id="info-tab-card" class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#my-collection">收藏</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#my-follow">关注</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#my-release">{% if is_self == True %}我{% else %}他 / 她{% endif %}发布的项目</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div id="info-tab-content" class="tab-content"><!--可以设计scroll安装的位置-->
                    <!--收藏-->
                    <div id="my-collection" class="container tab-pane active"><br>
                    <!--div id="my-collection-show"-->
                        {% for star in stars %}
                            <div class="media border p-3 mb-5 h-100">
                                <img src={% static "img/bulb.jpg"%} alt="创意图片" class="mr-3 mt-3 rounded-circle big-icon">
                                <div class="media-body">
                                    <a href="{% url 'topic_posts' star.board.pk star.pk %}">
                                        <h3>{{ star.subject}}</h3>
                                    </a>
                                    <p>{{ star.posts.first }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!--关注-->
                    <div id="my-follow" class="container tab-pane fade"><br>
                        {% for follow in follows %}
                            <div class="media border p-3 mb-5 h-100">
                                <img src={% static "img/usr.png"%} alt="头像" class="mr-3 mt-3 rounded-circle big-icon">
                                <div class="media-body">
                                    <a href="{% url 'user_account' follow.pk %}">
                                        <h3>{{ follow.username }}</h3>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!--发起的项目-->
                    <div id="my-release" class="container tab-pane fade"><br>
                        {% for project in projects.all %}
                            <div class="media border p-3 mb-5 h-100">
                                <img src={% static "img/bulb.jpg"%} alt="创意图片" class="mr-3 mt-3 rounded-circle big-icon">
                                <div class="media-body">
                                    <a href="{% url 'topic_posts' project.board.pk project.pk %}">
                                        <h3>{{ project.subject}}</h3>
                                    </a>
                                    <p>{{ project.posts.first }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div><!--tab-content-->
            </div><!--card-->
        </div><!--col-8-->
    </div>
</div>

<!--模态框-->
<div class="modal fade" id="mail-mod">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">修改邮箱</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form name="mail-form" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text w-100">邮箱</span>
                        </div>
                        <input type="email" class="form-control" placeholder="请输入新邮箱" id="mail-input" name="new-email" required autofocus>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mr-3" data-dismiss="modal">返回</button>
                    <button type="submit" class="btn btn-primary" id="nickname-ok">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="pwd-mod">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">修改密码</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form name="password-form" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text w-100">密码</span>
                        </div>
                        <input type="password" class="form-control" placeholder="请输入新密码" id="password-input" name="password1" required autofocus>
                    </div>
                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text w-100">确认密码</span>
                        </div>
                        <input type="password" class="form-control" placeholder="请再次输入新密码" id="password-con-input" name="password2" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mr-3" data-dismiss="modal">返回</button>
                    <button type="submit" class="btn btn-primary" id = "password-ok">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{#<!--=== Jquery Min Js ===-->#}
{#<script src={% static "js/jquery-3.3.1.min.js"%}></script>#}
{#<!--=== Jquery Migrate Min Js ===-->#}
{#<script src={% static "js/jquery-migrate-1.4.1.min.js"%}></script>#}
{#<!--=== Popper Min Js ===-->#}
{#<script src={% static "js/popper.min.js"%}></script>#}
{#<!--=== Bootstrap Min Js ===-->#}
{#<script src={% static "js/bootstrap.min.js"%}></script>#}
{#<!--=== Ajax Mail Js ===-->#}
{#<script src={% static "js/ajax-mail.js"%}></script>#}
{#<!--=== Plugins Min Js ===-->#}
{#<script src={% static "js/plugins.js" %}></script>#}
{#  #}
{#<!--=== Active Js ===-->#}
{#<script src={% static "js/active.js"%}></script>#}
{#  #}
{#<!--=== Function Js ===-->#}
{#<script src={% static "js/sign-in.js"%}></script>#}
{#<script src={% static "js/sign-up.js"%}></script>#}
{#<script src={% static "js/info.js"%}></script>#}