{% extends 'base.html' %}

{% load gravatar %}

{% load static %}

{% load humanize %}

{% block title %}{{ topic.subject }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">功能区</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board_topics' topic.board.pk %}">{{ topic.board.name }}</a></li>
    <li class="breadcrumb-item active">{{ topic.subject }}</li>
{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<!--== Start Header Section ==-->
<header id="header-area">
{% if topic.board.name == '个人创意' and topic.state >= 1 %}
<h2 class="sidebar-title my-4"><i class="fa fa-wrench"></i> 项目开发中</h2>
<div class="container">
    <div class="progress progress_bar" style="height:20px;">
        <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" style="width:{{ percent_blue }}">
{#            刚刚起步#}
        </div>
        {% if topic.percent > 25 %}
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:{{ percent_green }}">
{#                渐入佳境#}
            </div>
            {% if topic.percent > 50 %}
                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width:{{ percent_yellow }}">
{#                    披荆斩棘#}
                </div>
                {% if topic.percent > 75 %}
                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:{{ percent_red }}">
{#                        最后冲刺#}
                    </div>
        {% endif %}{% endif %}{% endif %}
    </div>
    {% if is_self %}
        {% if not topic.state >= 2 %}
            <div class="row mt-4">
                <a class="ml-4" href="{% url 'changepercent' topic.board.pk topic.pk 0 %}"><i class="fa fa-angle-double-left"></i></a>
                <strong class=" text mx-4">调整进度</strong>
                <div class="text mr-4">{{ topic.percent }}%</div>
                <a href="{% url 'changepercent' topic.board.pk topic.pk 1 %}"><i class="fa fa-angle-double-right"></i></a>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endif %}

<!--== Page Content Wrapper Start ==-->
<div id="information">
{#    <div class="alert alert-warning alert-dismissible fade show">#}
{#        <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#        <strong>您已发送过申请!</strong> 请耐心等待楼主答复。#}
{#    </div>#}
</div>
<div id="page-content-wrapper">
    <div class="container">
        <div class="row">
            <!-- Sidebar Area Start -->
            {% if topic.board.name == '个人创意' or topic.board.name == '实验室'%}
            <div class="col-lg-4 order-last order-lg-first">
                <div id="sidebar-area-wrap">
                    <!-- Single Sidebar Item Start -->
                    <div class="single-sidebar-wrap">
                        <h2 class="sidebar-title">{% if topic.board.name == '个人创意' %}项目开发团队名单{% elif topic.board.name == '实验室' %}实验室人员名单{% endif %}</h2>
                        {% if not topic.state == 4 %}
                            <div class="sidebar-body">
                                <div class="sidebar-search">
                                    {% for staff in staffs %}
                                        <h3><a href={% url 'user_account' staff.pk %}><strong>{{ staff.username }}</strong></a></h3>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if button == 1 %}
                                <a href="{% url 'join' topic.board.pk topic.pk %}" class="btn btn-cart-large my-4"><i class="fa fa-mouse-pointer"></i>点我开团</a>
                            {% elif button == 2 %}
                                <button class="btn btn-cart-large my-4" onclick="show_info()"><i class="fa fa-mouse-pointer"></i>点我开团</button>
                            {% elif button == 3 %}
                                <a href="{% url 'join' topic.board.pk topic.pk %}" class="btn btn-cart-large my-4"><i class="fa fa-mouse-pointer"></i>退出开发团队</a>
                            {% elif button == 4 %}
                                <button class="btn btn-cart-large my-4" onclick="show_info()"><i class="fa fa-mouse-pointer"></i>退出开发团队</button>
                            {% endif %}

                            {% if topic.board.name == '个人创意' %}
                                {% if ok == 1 %}
                                    <button class="btn btn-cart-large my-4" data-toggle="modal" data-target="#confirm"><i class="fa fa-mouse-pointer"></i>确认团队</button>
                                    <div class="modal fade" id="confirm">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <p>确认团队失败！</p>
                                                </div>
                                                <div class="modal-body">
                                                    <p>关于本项目您有尚未处理的信件，请处理完毕之后再次确认。</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="#" class="btn btn-primary" data-dismiss="modal">确认</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% elif ok == 2 %}
                                    <a href="{% url 'changestate' topic.board.pk topic.pk %}" class="btn btn-cart-large my-4"><i class="fa fa-mouse-pointer"></i>确认团队</a>
                                {% elif ok == 3 %}
                                    <a href="{% url 'giveup' topic.board.pk topic.pk %}" class="btn btn-cart-large my-4"><i class="fa fa-mouse-pointer"></i>解散团队</a>
                                {% elif ok == 4 %}
                                    <a href="{% url 'submit' topic.board.pk topic.pk %}" class="btn btn-cart-large my-4"><i class="fa fa-mouse-pointer"></i>交付审核</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <h1 class="my-4">Disabled!</h1>
                        {% endif %}
                    </div>
                    <!-- Single Sidebar Item End -->

                    <!-- Single Sidebar Item Start -->
{#                    <div class="single-sidebar-wrap">#}
{#                        <h2 class="sidebar-title">Popular Tags</h2>#}
{#                        <div class="sidebar-body">#}
{#                            <ul class="tags">#}
{#                                <li><a href="#">Tops</a></li>#}
{#                                <li><a href="#">Tees</a></li>#}
{#                                <li><a href="#">Polo</a></li>#}
{#                                <li><a href="#">T-Shirts</a></li>#}
{#                                <li><a href="#">Fashion</a></li>#}
{#                                <li><a href="#">Jeans</a></li>#}
{#                                <li><a href="#">Pants</a></li>#}
{#                                <li><a href="#">Necessitatibus</a></li>#}
{#                                <li><a href="#">Jackets</a></li>#}
{#                                <li><a href="#">Coats</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
                    <!-- Single Sidebar Item End -->
                </div>
            </div>
            {% endif %}
            <!-- Sidebar Area Start -->

            <!-- Single Blog Page Content -->
            <div class="col-lg-8">
                <article class="single-blog-content-wrap">
                    <div class="post-header">
{#                        <figure>#}
{#                             <a href="{{ topic.photo.url }}" class="single-gallery-item">#}
{#                                 <img src="{{ topic.photo.url }}" alt="创意图片"/>#}
{#                             </a>#}
{#                        </figure>#}
                        <div class="single-blog-wrap">
                            <figure class="blog-thumb">
                                <a href="{{ topic.photo.url }}" class="single-gallery-item"><img alt="Blog" src="{{ topic.photo.url }}"></a>
                                <figcaption class="blog-icon">
                                    <a href="{{ topic.photo.url }}" class="single-gallery-item"><i class="fa fa-file-image-o"></i></a>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="post-meta">
                            <h2>{{ topic.subject }}</h2>
                            <div class="post-info">
                                <a href="{{ return_url }}"><i class="fa fa-user" style="color:cornflowerblue"></i> {{ posts.first.created_by.username }}</a>
                                <a href=javascript:void(0) class="disabled"><i class="fa fa-calendar" style="color:darkseagreen"></i> {{ topic.created_at|naturaltime }}</a>
                                {% if star %}
                                    <a href="{% url 'favorite' topic.board.pk topic.pk %}"><i class="fa fa-heart" style="color:orangered"></i>已收藏</a>
                                {% else %}
                                    <a href="{% url 'favorite' topic.board.pk topic.pk %}"><i class="fa fa-heart-o" style="color:orangered"></i>收藏</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="post-content">
                        <p class="products-desc">{{ posts.first.get_message_as_markdown }}</p>
                    </div>

{#                    <div class="post-footer d-block d-sm-flex justify-content-sm-between align-items-center">#}
{#                        <ul class="tags">#}
{#                            <li><a href="#">Fashion</a></li>#}
{#                            <li><a href="#">Sale</a></li>#}
{#                            <li><a href="#">Investment</a></li>#}
{#                        </ul>#}
{#                    </div>#}
                </article>

                <!-- Comment Area Start -->
                <div class="comment-area-wrapper">
                    <div class="comments-preview-area comment-single-item">
                        <h2>评论 ({{posts.count|add:-1}})</h2>
                        {% for post in posts%}
                            {% if not forloop.first %}
                                <div class="single-comment d-block d-md-flex">
                                    <div class="comment-author">
                                        <a href="{% url 'user_account' post.created_by.pk %}"><img src="{% static 'img/usr.png' %}" class="img-fluid" alt="头像"/></a>
                                    </div>
                                    <div class="comment-info mt-3 mt-md-0">
                                        <div class="comment-info-top d-flex flex-row">
                                            <h3 style="width: 100px;"><a href="{% url 'user_account' post.created_by.pk %}">{{ post.created_by.username }}</a></h3>
                                            {% if post.created_by == user %}
                                                <a style="width: 100px;" href="{% url 'edit_post' post.topic.board.pk post.topic.pk post.pk %}"
                                                    class="btn-reply" role="button"><i class="fa fa-reply"></i>编辑</a>
                                            {% else %}
                                                <p style="width: 100px;"></p>
                                            {% endif %}
                                            <a style="width: 100px;" href="#" class="btn-reply" role="button"><i class="fa fa-reply"></i>回复</a>
                                        </div>
                                        <a class="comment-date">{{ post.updated_at|naturaltime }}</a>
                                        <p>{{ post.get_message_as_markdown }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="leave-comment-area comment-single-item">
                        <div class="comment-form-wrap">
                            <div class="single-input-item">
                                <a href="{% url 'reply_topic' topic.board.pk topic.pk %}" class="btn btn-cart-large"><i class="fa fa-comment"></i>评论</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Blog Page Content -->
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->

</header>
{% endblock %}

{% block javascript %}
<script>
    function show_info(){
        {#document.getElementById("information").classList.add("alert", "alert-warning", "alert-dismissible", "fade", "show");#}
        document.getElementById("information").innerHTML += '<div class="alert alert-warning alert-dismissible fade show"> \
        <button type="button" class="close" data-dismiss="alert">&times;</button> \
        <strong>您已发送过申请!</strong> 请耐心等待楼主答复。</div>'
    }
</script>
{% endblock %}